.DS_Store
log/*.*
*.log
tmp/*
*~
*.bak
bin
# Ignore application configuration
/config.yml
dist/
.idea
env.*
/pkg
/uploads
/submissions
backend/db/import/*.sql
backend/db/import/done/*
backend/db/import/*.csv
*.xlsx
