#app {
   button.p-button {
      white-space: nowrap;
   }

   div.p-panel-header {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
   }
}

div.p-menubar {
   justify-content: flex-end;
   .p-menubar-button {
      color: white;
   }
   .p-menubar-end {
      margin-left: initial;
   }
   .p-menubar-start {
      margin: 0 auto 0 0;
   }
   .p-menubar-item-label {
      font-family: Special Elite, cursive;
   }
}
div.p-menubar.p-menubar-mobile-active {
   .p-menubar-button {
      color: #222;
   }
}

.p-dialog-mask {
   .p-dialog {
      .p-dialog-header {
         background: #C8F2F4;
         border-bottom: 1px solid #5BD7DE;
         border-radius: 4px 4px 0 0;
         margin-bottom: 15px;
      }
   }
}